body {
    background-color: #b4c8db;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 30px;
    padding: 0px 5% 30px;
}

h1 {
    19.......................
    text-align: center;
}

h2 {
    20......................
}

img {
    21..................
}
